/*
 * File:    stylesheet.css
 * Author:  Jan Remeš (jan.remes@hig.no)
 * Project: Coffee & Code
 */

body {
    width: 95%;
    max-width: 800px;
    margin: auto;
    border: 1px solid black;
}

div {
/*    border: 2px dashed blue;*/
    overflow: hidden;
}

img {
    width: 100%;
}

div#global {
    padding: 8px;
}

div#navigation {
    text-align: center;
}

div#imgbox {
    float: right;
    border: 1px solid #aaa;
    padding: 4px;
    background-color: #aaa;
    max-width: 40%;
}

li.break {
    /*margin-left: -20px;*/
    color: #ff0000;
    margin: 8px 0px;
}
